
/* BLOCCO SCROLL LATERALE */

html{
    overflow-x: hidden;
}

/* PRESET Colori e fonts*/

:root{
    --textsVioletDark: #18122B;
    /* --paletteBody: #635985; */
    --paletteBody: #393053;
    --palettePage: #443C68;
    --paletteFooter: #393053;
    --paletteHeader: #18122B;
  }

  .texts-custom{
    color: var(--textsVioletDark);
  }
  
  .bg-body-custom{
    background-color: var(--paletteBody);
  }
  
  .bg-page-custom{
    background-color: var(--palettePage);
  }

  .bg-header-custom{
    background-color: var(--paletteHeader);
  }
  
  .bg-footer-custom{
    background-color: var(--paletteFooter);
  }

.body-custom{
    background-color: var(--paletteBody);
}
/* IMMAGINE HEADER */

.logo_custom{
    width: 20%;
}


.img_carousel_custom{
    width: 100%;
    height: 80vh;
}

.bg-body-custom{
    background-color: #635985;
}

/* SEZIONE SOTTO HEADER */

h2{
    color: darkred;
}

.h3-custom{
    color: darkred;
    font-style: italic;
    font-size: 60px;
    position: relative;
    top: 35%;
    right: 20%;
}

.img_casolare{
    width: 80%;
}

.header_custom{
    height: 30vh;
    background: linear-gradient(to bottom, #18122B 95%, #e9e8e8ef);
    /* background-color: var(--paletteHeader); */
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.section-custom{
    height: 60vh;
    background: linear-gradient(to bottom, #e9e8e8dd, transparent, transparent, transparent,#e9e8e8c2), url(/public/media/vigneto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

 .img-section-custom{
    width: 50%;
    height: 40vh;
    border: 2px solid white ;
    border-radius: 40%;
    border: 2px solid darkred;
 }

 .img-card1-custom {
    background-image: url(/public/media/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 28vw;
    height: 28vw;
    border: 2px solid darkred;
    padding: 10px;
 }

 .img-card2-custom {
    background-image: url(/public/media/casolare.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 28vw;
    height: 28vw;
    border: 2px solid darkred;
    padding: 10px;
 }

 .img-card3-custom {
    background-image: url(/public/media/bottiglia-singola.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 28vw;
    height: 28vw;
    border: 2px solid darkred;
    padding: 10px;
 }

 .row_custom3{
    height: 60vh;
 }

.ul-custom{
    list-style: none;
}

/* ANIMAZIONE GOCCIA */

/* .div_goccia {
    margin: 175px auto;
}

.drop {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background: #6f1023;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-animation-name: drip;
    -webkit-animation-name: drip;
    animation-name: drip;
    -moz-animation-timing-function: cubic-bezier(1,0,.91,.19);
    -webkit-animation-timing-function: cubic-bezier(1,0,.91,.19);
    animation-timing-function: cubic-bezier(1,0,.91,.19);
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.drop:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid #6f1023;
    top: -22px;
}

.wave {
    position: relative;
    opacity: 0;
    top: 0;
    width: 2px;
    height: 1px;
    border: #6f1023 7px solid;
    -moz-border-radius: 300px / 150px;
    -webkit-border-radius: 300px / 150px;
    border-radius: 300px / 150px;
    -moz-animation-name: ripple;
    -webkit-animation-name: ripple;
    animation-name: ripple;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.wave:after {
    content: "";
    position: absolute;
    opacity: 0;
    top: -5px;
    left: -5px;
    width: 2px;
    height: 1px;
    border: #6f1023 5px solid;
    -moz-border-radius: 300px / 150px;
    -webkit-border-radius: 300px / 150px;
    border-radius: 300px / 150px;
    -moz-animation-name: ripple-2;
    -webkit-animation-name: ripple-2;
    animation-name: ripple-2;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
} */

@keyframes ripple {
    from {
        opacity: 1;
    }
    to {
        width: 600px;
        height: 300px;
        border-width: 1px;
        top: -100px;
        opacity: 0;
    }
}

@keyframes ripple-2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        width: 200px;
        height: 100px;
        border-width: 1px;
        top: 100px;
        left: 200px;
    }
}

@keyframes drip {
    from{
        top:0px;
    }
    to {
        top: 190px;
    }
}

/* RECENSIONI */
*
.img_recensione_custom{
    height: 40vh;
    width: 15vw;
}

.title_review{
    height: 20vh;
}

.h3_review{
    color: darkred;
    font-size: 8vh;
}

.review_custom{
    min-height: 80vh;
}

/* FOOTER */

.link_footer{
    text-decoration: none;
}

.bg-footer-custom{
    border: solid;
    background-color: var(--paletteHeader);
}

/* MEDIAQUERY */

@media screen and (max-width: 700px) {

    .h1_header{
        font-size: 3vh;
        width: 70vw;
        position: absolute;
        left: 18%;
        top: 1%;
    }

    .logo_custom{
        width: 70%;
    }

    .h3-custom{
        font-size: 50px;
    }

    .img_header{
        width: 170vw;
        height: 60%;
        border-radius: 0px;
    }

    .header_index{
        max-height: 35vh;
    }

    .img-card1-custom {
        background-image: url(/public/media/1.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        width: 68vw;
        height: 68vw;
        border: 2px solid darkred;
        padding: 10px;
     }

     .img-card2-custom {
        background-image: url(/public/media/casolare.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        width: 68vw;
        height: 68vw;
        border: 2px solid darkred;
        padding: 10px;
     }

     .img-card3-custom {
        background-image: url(/public/media/bottiglia-singola.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
        width: 68vw;
        height: 68vw;
        border: 2px solid darkred;
        padding: 10px;
     }

     .thirdContainerCustom{
        min-height: 80vh;
     }

     .img_recensione_custom{
        width: 60vw;
     }
    

    @keyframes ripple {
        from {
            opacity: 1;
        }
        to {
            width: 300px;
            height: 150px;
            border-width: 1px;
            top: -100px;
            opacity: 0;
        }
    }

    @keyframes ripple-2 {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            width: 100px;
            height: 60px;
            border-width: 1px;
            top: 30px;
            left: 100px;
        }
    }

    @keyframes drip {
        from{
            top:0px;
        }
        to {
            top: 90px;
        }
}
}

